body {
    margin: 0;
}

h1   {
    color: rgb(27, 114, 32);
    margin-bottom: 2rem;

}
input, select {
    width: 25px;
    height: 25px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5em;
}