body {
    margin: 0;
}

h1   {
    color: rgb(27, 114, 32);
    margin-bottom: 2rem;

}
input, select {
    width: 25px;
    height: 25px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    box-shadow: 0 0 10px;
    border: none;
    outline: none;
    border-radius: 5px;

}
.app{
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    padding: 2rem;
    text-align: center;
}
 .crypto-container {
    justify-content: center ;
    margin-top: 1rem

 }
